:root {
  --cor-background: rgb(0, 0, 128, 0.9);
  --cor-azul: #000080;
  --oswald-font: "Oswald", sans-serif;
}

.header {
  background-color: var(--cor-azul);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
}
body {
  background-image: url("./images/pesos.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

#icon-menu {
  width: 40px;
  margin-top: 10px;
  z-index: 1;
  margin-left: 8px;
}

#icon-assistente {
  margin-top: 500px;
  width: 60px;
  margin-left: 285px;
}

#menu-icon {
  cursor: pointer;
}

#menu-options {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  width: 50%;
  height: 100vh;
  background-color: var(--cor-azul);
  color: white;
  font-family: var(--oswald-font);
  font-weight: 900;
}

#menu-options ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  font-size: 20px;
}

#menu-options ul li {
  padding: 10px;
  /* border-bottom: 1px solid white; */
}

#usuario {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: -15px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000080;
  margin-left: -8px;
  img {
    width: 45px;
    margin-right: 15px;
    margin-left: 11px;
    margin-top: 6px;
  }
}
